<div class="container">
    <div class="card">
        <img src="{{ postDetails.image.src }}" alt="{{ postDetails.image.alt }}" style="width:100%">

        <div class="container-fluid">
            <h3><b>{{ postDetails.title }}</b></h3>
            <h5>{{ postDetails.description }}, <span class="opacity">{{ postDetails.createdOn | date }}</span></h5>
        </div>

        <div class="container-fluid">
            <p>{{ postDetails.content }}</p>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <p><b>Comments &nbsp;</b> <span class="tag-square">0</span></p>
                </div>
            </div>
        </div>
    </div>
</div>